html, body, h1 {
 margin: 3;
 padding: 0;
 font-size: 13px;
}

#board {
 position: relative;
 top: 0px;
 left: 0px;
}

#board canvas {
  position: absolute;
  top: 0;
  left: 0;
}
div.toolbar{
  position: relative;
  top: 500px;
  left: 147px;
  padding: 7px;
   }
div#instructions{
  position:relative;
  width: 490px;
  top: 510px;
  padding: 5px;

  font:13px/20px Helvetica, monospace;
}
button {
  border: medium none;
  height: 28px;
  line-height 20px;
	 border-radius:4px;
    box-shadow: 0 0 0 1px #BEBFC2 inset, 0 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 27px 20px -18px white inset, 0 1px 0 0 rgba(255, 255, 255, 0.6);

    cursor: pointer;
	color: #6E7076;
    font-weight: bold;
    text-align: center;
	text-shadow:0 1px 0px rgba(255,255,255,0.75);
	border:1px solid rgba(0,0,0,0.5);
	
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));

	padding:5px 20px 5px 20px;
    margin: 0px 10px 0px;
  
}
button:hover {
	background:rgba(240,240,240,1);
}

button:active, button:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}

button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}




