html, body, h1 {
  margin: 0;
  padding: 0;
}

#board {
  position: relative;
  top: 0;
  left: 0;
}

#board canvas {
  position: absolute;
  top: 0;
  left: 0;
}
div.toolbar{
  position: relative;
  top: 500px;
  left: 0;

}


